services:
  api:
    build: .
    container_name: twitch-q-backend
    environment:
      ADMIN_TOKEN: ${ADMIN_TOKEN}
    env_file:
      - stack.env
    ports:
      - "${API_PORT:-7111}:80"
    volumes:
      - ./data:/data
  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    environment:
      BACKEND_URL: ${BACKEND_URL:-http://api:7070}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      COMMANDS_FILE: ./bot/commands.yml
      BOT_MESSAGES_PATH: ./bot/messages.yml
    env_file:
      - stack.env
    depends_on:
      - api
    restart: unless-stopped
    volumes:
      - ./bot/commands.yml:/bot/commands.yml:ro
      - ./bot/messages.yml:/bot/messages.yml:ro
  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    container_name: songqueue-web
    environment:
    env_file:
      - stack.env
    ports:
      - "${WEB_PORT:-7000}:80"
    restart: unless-stopped
    volumes:
      - ./web:/web
  queue_manager:
    build:
      context: .
      dockerfile: queue_manager/Dockerfile
    container_name: songqueue-queue-manager
    environment:
    env_file:
      - stack.env
    ports:
      - "${QUEUE_MANAGER_PORT:-7100}:80"
    restart: unless-stopped
    volumes:
      - ./queue_manager:/queue_manager
  admin:
    build:
      context: .
      dockerfile: admin/Dockerfile
    container_name: songqueue-admin
    environment:
      ADMIN_BASIC_AUTH_USERNAME: ${ADMIN_BASIC_AUTH_USERNAME}
      ADMIN_BASIC_AUTH_PASSWORD: ${ADMIN_BASIC_AUTH_PASSWORD}
    env_file:
      - stack.env
    ports:
      - "${ADMIN_PORT:-7171}:80"
    restart: unless-stopped
    volumes:
      - ./admin:/admin